<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CtpApiDotNet" version="6.3.0.2" targetFramework="net45" />
  <package id="GalaxyFutures.Sfit.Api" version="6.3.0" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.103" targetFramework="net45" />
</packages>